:root {
    --nvidia-original: #76b900;
    --bg: #ffffff;
    --black_text: #373D3F;
    --border-input: rgb(219, 212, 212)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* important !!! */
img {
    width: 100%;
    height: auto;
    margin: auto;
}

.container {
    width: 1200px;
    margin: auto;
}

/* ----------------------------------   NAVBAR */
.logo {
    padding: 10px 10px 0 10px;
    width: 6rem;
    height: auto;
}

header nav {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;

}


.wrap_navbar {
    display: flex;
    margin: 0 auto;
    list-style: none;
    gap: 80px;
}

header nav a {
    text-decoration: none;
    color: var(--black_text);
    font-weight: bold;
}


/* ------------------------------------  COVER */

.cover {
    position: relative;
    vertical-align: bottom;
}

.cover_img {
    width: 100%;
    vertical-align: bottom;
}

.cover_bottom {
    position: absolute;
    bottom: 0;
    display: flex;
    color: aliceblue;
    background-color: #5e94006d;
    justify-content: space-between;
    padding: 10px 0 10px 5px;
    width: 100%;

}

.cover_bottom p {
    font-weight: bold;
    padding-top: 5px;
}

.btn-cover {
    display: block;
    width: 90px;
    line-height: 25px;
    background-color: var(--nvidia-original);
    color: white;
    font-size: 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* -------------------------------------  MAIN */
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;

    /* ------------------------------------  GREEN LINE*/
    border-bottom: 3px solid #76b900;
}

/* ------------------------------------  GREEN TRIANGLE*/
.trg {
    margin: 0 auto;
    width: 0px;
    height: 0px;
    border-left: 15px solid var(--bg);
    border-right: 15px solid var(--bg);
    border-bottom: 20px solid var(--bg);
    border-top: 30px solid var(--nvidia-original);
}

/* ----------------------------------  ARTICLE */
article {
    width: 838px;
    padding: 20px;
}

#icon-h1 {
    width: 30px;
    border: solid 1px var(--black_text);
    border-radius: 5px;
}

article h1 {
    display: none;
}

article h2 {
    font-size: 1.8rem;
    text-transform: uppercase;

}

.titre {
    display: flex;
    width: 100%;
    align-items: center;
}

.titre figure {
    width: 5%;
    margin-right: 5px;
}

article p {
    padding-top: 20px;
    font-size: 1.4rem;
}

/* ------------------------------------  ASIDE */
.propos {
    width: 357px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--nvidia-original);
    align-items: center;
    padding: 20px;
}

.images-aside {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 8%;
}

.propos h2 {
    color: var(--bg);
    font-weight: bold;
    text-transform: uppercase;
}

.propos p {
    padding-top: 15px;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--bg);
}

/* ------------------------------------  ASIDE-SOCIALS LINKS*/
.socials {
    display: flex;
    justify-content: center;
    gap: 28px;
    font-size: 2rem;
    padding-top: 12%;

}

.socials i {
    color: white;
}

/* ------------------------------------  FOOTER*/
footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

footer section {
    width: 33%;
}


section h3 {
    text-transform: uppercase;
    padding-bottom: 10px;
}

input {

    font-size: large;
    border-color: var(--border-input);
    margin-bottom: 10px;


}

.inputs-text-email :first-child {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 90px;
}


#btn-news {
    width: 90px;
    height: 25px;
    background-color: var(--nvidia-original);
    color: white;
    font-size: 15px;
    cursor: pointer;
}


footer img {
    width: 90px;
    height: 90px;
    cursor: pointer;
}

/* ------------------------------------  @media */
@media (max-width: 1200px) {

    .container,
    nav {
        width: 100%;
    }
}

@media (max-width: 1056px) {

    .container {
        width: 100%;
    }
}

/* Medium devices (tablets, 768px and less) */
@media (max-width: 768px) {


    .wrap_navbar {
        flex-direction: column;
        gap: 7px;
        align-items: center;
        color: var(--nvidia-original);
    }

    article {
        width: 100%;
    }

    main {
        flex-direction: column;
    }

    .propos {
        width: 100%;
    }

    .propos p {
        font-size: 1.5rem;
    }

    footer {
        flex-direction: column;
    }

    .news-letter,
    .galerie,
    .partenaires {
        width: 100%;
    }

    .inputs-text-email {
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    footer h3 {
        text-align: center;
    }

    article p {
        font-size: 1.2rem;
    }

    article h2 {
        font-size: 1.2rem;
    }

    .propos p {
        font-size: 1.1rem;
    }

}

/* Small devices (landscape phones, 576px and less) */
@media (max-width: 576px) {
    .logo-h1 {
        display: none;
    }

}

;