:root {
    --nvidia-original: #76b900;
    --bg: #fefee2;
    --black_text: #373D3F;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: auto;
}


/* ----------------------------------   NAVBAR */
#logo {
    align-items: flex-start;
    position: relative;
    top: 22px;
}

nav ul {
    width: 1200px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
    gap: 80px;
    margin-bottom: 15px;
}


nav li a {
    text-decoration: none;
    color: var(--black_text);
    font-weight: bold;
}


/* ------------------------------------  COVER */
.cover_img {
    width: 100%;
}

.cover_bottom {
    position: relative;
    top: -53px;
    display: flex;
    color: aliceblue;
    background-color: #5e94006d;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0 10px 5px;
   
}

.cover_bottom p {
    font-weight: bold;
    padding-top: 5px;
}

.btn-cover {
    display: block;
    width: 90px;
    line-height: 25px;
    background-color: var(--nvidia-original);
    color: white;
    font-size: 15px;
    margin-right: 10px;

    border-radius: 5px;
}

/* -------------------------------------  MAIN */
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ----------------------------------  ARTICLE */
article {
    width: 838px;
    padding-right: 15px;
}

#icon-h1 {
    width: 30px;
    border: solid 1px var(--black_text);
    border-radius: 5px;
}

article h1 {
    font-size: 1.8rem;
    text-transform: uppercase;
}

article p {
    margin-top: 20px;
    font-size: 1.4rem;
}




/* ------------------------------------  ASIDE */


.propos {
    position: relative;
    top: -30px;
    width: 357px;
    display: flex;
    flex-direction: column;
    background-color: var(--nvidia-original);
    align-items: center;
    margin-right: 0;
}

.images-aside {
    display: flex;
    flex-direction: column;
}

.propos h2 {

    color: var(--bg);
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 30px;
}

.propos p {
    padding: 30px 15px 0 15px;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--bg);
}

/* ------------------------------------  GREEN LINE*/
.green-line {
    display: flex;
    background-color: var(--nvidia-original);
    height: 3px;
    position: relative;
    top: -33px;
    right: 5px;
    
}

/* ------------------------------------  ASIDE-SOCIALS*/

.socials {
    display: flex;
    gap: 28px;
    margin: 60px 0 30px 0;
}













/* ------------------------------------   TEST */
.lol {
    background-color: antiquewhite;
}

.lol2 {
    background-color: aquamarine;
}

.div1 {
    display: flex;
}