:root {
    --nvidia-original: #76b900;
    --bg: #fefee2;
    --black_text: #373D3F;
    --border-input: rgb(219, 212, 212)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    /* 1400px */
    width: 1200px;   
    margin: auto;
}


/* ----------------------------------   NAVBAR */
/* #logo {
    align-items: flex-start;
    position: relative;
    top: 22px;
} */

nav {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
    
}

ul  {
    display: flex;
    margin: 0 auto;
    list-style: none;
    gap: 80px;
}


nav li a {
    text-decoration: none;
    color: var(--black_text);
    font-weight: bold;
}


/* ------------------------------------  COVER */

.cover{
    position: relative;
    vertical-align: bottom;
}
.cover_img {
    width: 100%;
    vertical-align: bottom;
    /* position: relative; */
}

.cover_bottom {
    position: absolute;
    bottom:0;
    display: flex;
    color: aliceblue;
    background-color: #5e94006d;
    justify-content: space-between;
    padding: 10px 0 10px 5px;
    width: 100%;

}

.cover_bottom p {
    font-weight: bold;
    padding-top: 5px;
}

.btn-cover {
    display: block;
    width: 90px;
    line-height: 25px;
    background-color: var(--nvidia-original);
    color: white;
    font-size: 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* -------------------------------------  MAIN */
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid #76b900;
    margin-top: 30px;
}

/* ----------------------------------  ARTICLE */
article {
    width: 838px;
    padding: 20px;
}

#icon-h1 {
    width: 30px;
    border: solid 1px var(--black_text);
    border-radius: 5px;
}

article h1 {
    font-size: 1.8rem;
    text-transform: uppercase;
}

article p {
    margin-top: 20px;
    font-size: 1.4rem;
}



/* ------------------------------------  ASIDE */


.propos {
    /* position: relative; */
    width: 357px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--nvidia-original);
    align-items: center;
    margin-right: 0;
}

.images-aside {
    display: flex;
    flex-direction: column;
}

.propos h2 {

    color: var(--bg);
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 30px;
}

.propos p {
    padding: 30px 15px 0 15px;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--bg);
}

/* ------------------------------------  ASIDE-SOCIALS LINKS*/
.socials {
    display: flex;
    gap: 28px;
    margin: 60px 0 30px 0;
}

/* ------------------------------------  GREEN LINE*/
/* .green-line-container {
    
    top: -30px;
    border-top: solid 3px var(--nvidia-original);
} */

/* .green-line {
    background-color: var(--nvidia-original);
    
} */

/* ------------------------------------  GREEN TRIANGLE*/
.trg {
    margin: 0 auto;
    width: 0px;
    height: 0px;
    border-left: 15px solid var(--bg);
    border-right: 15px solid var(--bg);
    border-bottom: 20px solid var(--bg);
    border-top: 30px solid var(--nvidia-original);
}


/* ------------------------------------  FOOTER*/
footer {
    position: relative;
    display: flex;
    justify-content: space-between;
}

section h3 {
    text-transform: uppercase;
}


input {
    margin:10px 0 0 0;
    padding: 5px;
    font-size: large;
    border-color: var(--border-input)
}

form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.btn-news {
    
    width: 90px;
    height: 35px;
    line-height: 35px;
    background-color: var(--nvidia-original);
    color: white;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
}

footer img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    box-flex-group: var(--bg);
}

.galerie {
    margin-right: 4rem;
}

.combo {
    display: flex;
    

}


/* ------------------------------------  @media */
@media (max-width: 1200px) {
    .container, nav {
        width: 100%;
    }
 }


 /* Medium devices (tablets, 768px and less) */
@media (max-width: 768px) {

    .container{
        width: 100%;
        
    }  
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    main {
        flex-direction: column;
    }
    .propos{
       width: 100%; 
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

    }
    .news-letter{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;
        text-align: center;
        padding: 4rem;
    }
    .inputs {
        width: 100%;
    }

    input {
        width: 500px;
        margin-top: 20px;

    }

};


 /* Small devices (landscape phones, 576px and less) */
@media (max-width: 576px) {
    
    .container{
        display: flex;
        flex-direction: column;
    }
    
};





.carre{
    width: 100px;
    height: 100px;
    background-color: aqua;
    z-index: 1000;
    /* position: relative; */
    /* left: 10rem; */
}



















/* ------------------------------------   TEST */
.parents {
    display: flex;
    margin-top: 100px;
}

.fils-1 {
    background-color: rgb(230, 192, 142);
}

.fils-2 {
    background-color: aquamarine;
}

.fils-3 {
    background-color: cornflowerblue;
}